.product-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding-top: 20px;
  min-height: 100vh;
  padding-bottom: 20px;
}
@media (min-width: 768px) {
  .product-container {
    flex-direction: row;
    flex-wrap: wrap;
  }
}
.product-details-container {
  display: flex;
  flex-direction: column;
  width: 80%;
  line-height: 1.5;
  padding-left: 15px;
  flex-shrink: 0;
  margin-top: 28px;
}
@media (min-width: 768px) {
  .product-details-container {
    width: 40%;
  }
}
.product-image {
  width: 400px;
  height: 600px;
  border-radius: 18px;
  flex-shrink: 0;
  margin-right: 20px;
}
.title {
  color: #171f46;
  font-size: 42px;
  font-family: 'Roboto';
  font-weight: bold;
}
.price {
  color: #1e293b;
  font-size: 20px;
  font-weight: 600;
  font-family: 'Roboto';
}
.rating-reviews-card {
  display: flex;
  align-items: center;
}
.rating-card {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #3b82f6;
  border-radius: 5px;
  color: #ffffff;
  width: 50px;
  height: 35px;
  font-size: 18px;
}
.star {
  margin-left: 5px;
}
.reviews {
  color: #171f46;
  font-size: 20px;
  padding-left: 15px;
  font-weight: 500;
}
.quantity-counter {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  max-width: 120px;
}
.quantity {
  font-size: 20px;
  color: #616e7c;
}
.icon-button {
  background-color: transparent;
  cursor: pointer;
  outline: none;
  border: none;
}
.icon {
  font-size: 20px;
  color: #475569;
}
.add-to-cart-button {
  background-color: #3b82f6;
  border: none;
  cursor: pointer;
  outline: none;
  color: #ffffff;
  padding: 12px;
  border-radius: 10px;
  font-weight: bold;
}
.similar-products-container {
  display: flex;
  flex-direction: column;
  width: 80%;
}
.similar-products-heading {
  font-size: 32px;
  font-family: 'Roboto';
  padding-top: 48px;
}
.similar-items-container {
  display: flex;
  width: 100%;
  padding-left: 0;
  margin-top: 0;
}

.failure-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
}

.description {
  font-family: 'Roboto';
  font-size: 20px;
  color: #616e7c;
}
.item-details-side-heading {
  display: flex;
  align-items: center;
  line-height: 0;
  font-weight: bold;
  font-family: 'Roboto';
  font-size: 18px;
  color: #171f46;
}
.item-details {
  font-family: 'Roboto';
  font-size: 18px;
  color: #616e7c;
  font-weight: normal;
  margin-left: 10px;
}
.separator {
  border: 1px solid #cbced2;
  width: 100%;
}

.error-view-image {
  width: 100%;
}

.product-not-found {
  font-family: 'Roboto';
  font-size: 32px;
  color: #12022f;
}
.continue-button {
  cursor: pointer;
  outline: none;
  border: none;
  background-color: #3b82f6;
  padding: 8px 12px 8px 12px;
  color: #ffffff;
  border-radius: 10px;
  font-size: 25px;
}
